svg{
  border: 1px solid black;
  float: left;
}

.tooltip {
  max-width: 400px;
  position: absolute;
  background: rgba(200, 54, 54, 0.8);
}

/* restaurant circle styles */
.restaurant{
  fill: red;
  opacity: 0.6;
}

/* BEGIN restaurant information div styles */
.info {
  min-height: 50px;
  width: 80%;
  padding: 10%;
}
.info * {
  display: block;
}

.info rating::before{
  content: "Rating: ";
  font-style:italic;
}

.info cats::before{
  content: "Categories: ";
  font-style:italic;
}

.info snippet::before{
  content: "Review snippet: ";
  font-style:italic;
}

.info title {
  font-size: 1.5em;
}
/* END restaurant information div styles */


.pinnedInfo {
  border: 1px solid black;
}

/* Pinned restaurants div styles */
#pinDiv {
  float: right;
  overflow: scroll;
  width:500px;
  height:800px;
  border: 1px solid black;
}

/* TODO: TEST styles -- delete? */
.polygons {
  fill: none;
  stroke: white;
  stroke-width: 1px;
}

.search-bar {
  width: 400px;
}
